* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

:before, :after {
    box-sizing: border-box;
}
a,span, img, li, :before, :after {
    display: inline-block;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.285;
    font-weight: 400;
    min-height: 200px;
}

.container {
    max-width: 85%;
    margin: 0 auto;
    padding: 0 15px;
}


:focus {
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transform: all .5s ease ;
    -webkit-transform: all .5s ease ;
    -moz-transform: all .5s ease ;
    -ms-transform: all .5s ease ;
    -o-transform: all .5s ease ;
}

img {
    width: 100%;
}

/*=========HEADER===========*/
header {
    background-image: url("../picture/b4.jpg");
    background-size: cover;
    background-position: center;
    height: 650px;   
}

.fixed_header {
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.header__content {
    display: flex;
    padding: 6px 15px;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    position: relative;
}

.header__content ul li {
  margin: 0 25px ;
  border-bottom: 2px solid #dcd4d4 ;
  
}

.header__content ul li a {
    text-align: center;
    padding-bottom: 5px;
    color: #dcd4d4;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.header__content p {
    font-size: 3.5rem;
    font-weight: 540;
    color: white;
    letter-spacing: 0.2rem;
}

.header__content span {
    color: #18cccc;
}

.carousel__content {
    text-align: center;
    padding-top: 205px;
}

.carousel__content p {
    color: white;
    font-weight: 750;
    letter-spacing: 0.2rem;
    font-size: 50px
}

.carousel__content p:last-child {
    font-size: 20px;
    letter-spacing: 0.1rem;
    padding: 0 90px;
    color: #dcd4d4;
}

.carousel__info {
    display: flex;
    align-items: center;
    padding-top: 83px;
    height: 100%
}

.left__icon, .right__icon  {
    width: 50px;   
}

.left__icon {
    margin-left: -53px;
}



.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: black;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 128px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 9px;
}
#mainNav .active a {
    color:#18cccc;
}
#mainNav a:hover {
    color: #18cccc;
}
 /*========ABOUT==========*/
 .about__content {
    display: flex;
    padding: 30px;
    
 }
.item__content i {
    border: 1px solid gray;
    border-radius: 50%;
    padding: 35px;
    text-align: center;
    font-size: 20px;
}
.about {
    margin: 60px 0 40px 0; 
}

.contact h1, .agents h1, .about h1, .blog h1, .more-info h1, .portfolio h1, .subscribe h1 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.2rem;
}

.item__icon {
    padding: 0px 120px 15px;
}

.item__info {
    letter-spacing: 0.1rem;
    padding: 0 10px;
    text-align: center;
    color: gray;
    line-height: 25px;
}

.about-us h2 {
    color: #18cccc;
    text-align: center;
    letter-spacing: 0.1em;
}

.about-us p {
    text-align: center;
    padding: 20px 0 40px;
    letter-spacing: 0.1em;
    color: #000000;
    
}

/*=======NUMBER===========*/
.number {
    background-color: #18cccc;
}
.number__content {
    display: flex;
    justify-content: space-around;
}

.number > p {
    text-align: center;
    padding-top: 40px;
    font-size: 3rem;
    font-weight: 600;
}
.number__item p:first-of-type {
    font-size: 3rem;
    color: white;
    font-weight: 600;
   
}

.number__item p:last-of-type {
    font-size: 2rem;
    letter-spacing: 2px;
  
}

/*=========BLOG===========*/
.blog_content, .portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 30px;
}

.img__item{
    border-top: 4px solid #18cccc;   
}

.img__item img, .agents__img img {
    display: block;
}
.blog__title, .agents__title {
    padding: 20px 10px;
    background-color: rgb(88 79 79 / 13%);
}

.blog__title p:first-of-type {
    font-size: 20px;
    font-weight: 600;
    color: #18cccc;
    letter-spacing: 0.1rem;
    padding-bottom: 10px;
}

.blog h1 {
    padding: 40px 0 30px;
}

.blog__title button, .more-info button {
    margin-top: 10px;
    padding: 10px;
    color: #18cccc;
    background-color: #000000;
    border: none;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

/*==========MORE===========*/
.more {
    margin: 70px 0;
}
.get-more {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.more-info {
    background-color: #18cccc;
    padding: 40px 40px 0 40px;
}

.more-info p {
    color: wheat;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    text-align: center;
    padding: 20px;
    font-weight: 600;
}

.more-info button {
    margin-left: 40%;
}

/*=======PORFOLIO=========*/
.portfolio__container{
    padding: 32px 0;
}

/*======SUBSCRIBE=========*/
.subscribe {
    background-color: #18cccc;
    padding: 40px;
    margin-top: 30px;
}

.subscribe__content p {
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 50px 60px 20px;

}
.subscribe__form {
    text-align: center;
}
.subscribe__form input{
    padding: 10px;
    width: 48%;
    font-weight: 600;
}

.subscribe__form button {
    padding: 12px 40px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: wheat;
    background-color: #000000;
    border: none;
}

/*=====AGENTS=====*/
.agents {
    margin: 60px;
}
.agents__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-top: 30px;
}

.agents__title {
    background-color:#000000c7;
}

.agents__info p {
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: white;
}

.agents__info p:first-child {
    color: #18cccc;
    font-size: 22px;
}

.agents__icon {
    text-align: center;
}
.agents__icon i {
    color: white;
    border: 2px solid white;
    padding: 6px;
    margin: 15px 10px 0  0;

}

/*======MAP=====*/
.map {
    border: 2px solid#18cccc; 
    box-shadow: inset 0 0 0 14px #00000078;
}
.map iframe{
    width: 1300px;
    padding:15px
}

/*========CONTACT FORM=========*/
.contact {
    margin: 60px 0;
}
.contact__form  {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px 30px;
    padding-top: 30px;
}
.contact__form form:nth-child(1) input {
    display: block;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #8080801a;
    margin-bottom: 25px;
    border-bottom: 2px solid gray;
}
.contact__form form:nth-child(2) textarea {
    width: 100%;
    background-color: #8080801a;
    border-bottom: 2px solid gray;
    padding: 10px 10px 0 10px;
}

.contact__form form:nth-child(2) button {
    width: 100%;
    padding:10px;
    margin-top: 20px;
    color: wheat;
    background-color: #000000;
    border: none;
}
/*======FOOTER=======*/
footer {
    background-color: #18cccc;
    color: wheat;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    padding: 50px 0 30px 0 ;
    letter-spacing: 0.1rem;
    font-weight: 600;
    align-items: center;
}

.footer__content span {
    color: red;
}

.footer__icon i {
    border: 1px solid white;
    padding: 7px;
    margin-right: 10px;
}

.backToTop {
    width: 40px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    opacity: 0;
    visibility: hidden;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
  }
  
  .cd-top--fade-out { 
    opacity: .5;
  }






